
/TaskSystem/TaskSystem.Tests/bin
/TaskSystem/TaskSystem.Tests/obj
/TaskSystem/TaskSystem/bin
/TaskSystem/_ReSharper.TaskSystem
/TaskSystem/TaskSystem/obj
/TaskSystem/TaskSystem/obj
/TaskSystem/TaskSystem/App_Data
/TaskSystem/TaskSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache