
/TaskSystem/TaskSystem.Tests/bin
/TaskSystem/TaskSystem.Tests/obj
/TaskSystem/TaskSystem/bin
/TaskSystem/_ReSharper.TaskSystem
/TaskSystem/TaskSystem/obj
/TaskSystem/TaskSystem/obj
/TaskSystem/TaskSystem/App_Data
/TaskSystem/TaskSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TaskSystem/_ReSharper.TaskSystem
/TaskSystem/_ReSharper.TaskSystem/XmlIndex
/TaskSystem/_ReSharper.TaskSystem/.gitignore
/TaskSystem/_ReSharper.TaskSystem/AspFileDataCache.dat
/TaskSystem/_ReSharper.TaskSystem/ModuleIds.xml
/TaskSystem/_ReSharper.TaskSystem/SymbolCache.bin
/TaskSystem/_ReSharper.TaskSystem/BuildScriptCache
/TaskSystem/_ReSharper.TaskSystem/JavaScriptCache
/TaskSystem/_ReSharper.TaskSystem/JbPdbInfo
/TaskSystem/_ReSharper.TaskSystem/MVC
/TaskSystem/_ReSharper.TaskSystem/NamedArguments
/TaskSystem/_ReSharper.TaskSystem/Resources
/TaskSystem/_ReSharper.TaskSystem/TagPrefixes
/TaskSystem/_ReSharper.TaskSystem/TodoCache
/TaskSystem/_ReSharper.TaskSystem/WebSymbols
/TaskSystem/_ReSharper.TaskSystem/WordIndex
/TaskSystem/_ReSharper.TaskSystem
/TaskSystem/_ReSharper.TaskSystem