@using TaskSystem.Controllers
@model ViewModel

@{
    ViewBag.Title = "Index";
}
<script src="../../Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<h2>Index</h2>

@using (@Ajax.BeginForm(new AjaxOptions() { LoadingElementId = "loading", UpdateTargetId = "resultsDiv" }))
{
     @Html.EditorForModel(Model)
     <input type="submit" value="Search" />
   
    
}
<div id ="loading" style="display:none">LOADING!!</div>
<div id="resultsDiv">
results here
</div>
