@using TaskSystem.Helpers
@if (Request.IsAuthenticated)
{

     <text>Today's reminders for <strong>@User.Identity.Name</strong></text>

 var ret = new UserAlerts().GetAlertsForUser();
 foreach (var userTask in ret)
 {
        <div>
        @Html.DisplayFor(model => userTask.Description)
        </div>
    }                            

}
