@using TaskSystem.Helpers
@if (Request.IsAuthenticated)
{

     <text>Today's reminders for <strong>@User.Identity.Name</strong></text>

 var ret =  UserAlerts.GetAlertsForUser();
 foreach (var userTask in ret)
 {
        <div>
            @Html.ActionLink(userTask.Description, "Edit", "Task", new { id = userTask.Id }, null)
        </div>
    }                            

}
