@using TaskSystem.Helpers
@if (Request.IsAuthenticated)
{


 var ret =  UserAlerts.GetAlertsForUser();
 if (ret.Count() > 0)
 {
         <text>Today's tasks for <strong>@User.Identity.Name</strong></text>
 }
 else
 {
         <text>No tasks today for <strong>@User.Identity.Name</strong></text>
 }
 foreach (var userTask in ret)
 {
        <div>
            @Html.ActionLink(userTask.Description, "Edit", "Task", new { id = userTask.Id }, null)
        </div>
    }                            

}
