@model string
@{
    ViewBag.Title = "About Me";
}
<h2>
    About</h2>
<p>
    This task system is by <a href="mailto:richloveswork@gmail.com">Richard Smith</a>
</p>
<h3>
    Career achievements</h3>

    <li><a href="http://www.worldvision.com.au/40hourfamine.aspx">Word Vision famine website</a></li>

    <div>
    <br/>
   <h3>
       Contact</h3>
        
<p>
    phone: 0432 122 681
</p>
<p>
    email:    <a href="mailto:richloveswork@gmail.com">richloveswork@gmail.com</a></p>
    </div>
