
@model string

@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     This task system is by Richard Smith 
</p>
<div>
    <a href="mailto:richloveswork@gmail.com">richloveswork@gmail.com</a>
</div>
<div>
    0432 122 681
</div>
